.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.joinCard {
  width: 100%;
  max-width: 480px;
  background: #fff;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: left;
  font-size: 22px;
  color: #202020;
  line-height: 1.2;
  margin-bottom: 25px;
}

.header p {
  margin: 10px;
}

.header strong {
  font-weight: bolder;
  font-size: 24px;
  display: inline;
}

.subtext {
  margin-top: 10px;
  font-size: 15px;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.inputGroup input {
  height: 45px;
  padding: 10px 12px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  color: #666;
  background-color: #f6f7fb;
}

.form > .inputGroup:nth-child(1),
.form > .inputGroup:nth-child(2),
.form > .inputGroup:nth-child(3),
.form > .inputGroup:nth-child(4),
.form > .inputGroup:nth-child(5),
.form > .inputGroup:nth-child(6) {
  width: 100%;
}

@media (min-width: 480px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 16px;
  }

  .form > .inputGroup:nth-child(5),
  .form > .inputGroup:nth-child(6),
  .form > .joinBtn,
  .form > .gotoLogin {
    grid-column: span 2;
  }
}

.joinBtn {
  height: 45px;
  background-color: #7eff66;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.joinBtn:hover {
  background-color: #00c76a;
}

.gotoLogin {
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
  color: #888;
}

.gotoLogin a {
  margin-left: 6px;
  color: #202020;
  font-weight: bold;
  text-decoration: none;
}

.gotoLogin a:hover {
  text-decoration: underline;
}
