.container {
    background-color: #333333;
    height: 100vh;
    width: 70px; /* ✅ 고정 너비 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-shrink: 0; 
  }
  
  .topSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    cursor: pointer;
  }
  
  .bottomSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .logo {
    width: 30px;
    height: 30px;
  }