@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');

* {
  box-sizing: border-box;

}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F6F7FB;
  font-family: 'Apple SD Gothic Neo',sans-serif;
}